@import "../styles/utils.module.scss";


.Wrapper{
    padding: 4rem 2rem;
    background-color: whitesmoke;
    min-height: 100vh;

    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }

    ._login_form{
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
        background-color: $WHITE;
        padding: 2rem 1rem;
        margin-top: 50px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 5px;

        @media only screen and (min-width: 2501px){
            margin-top: 150px;
            max-width: 600px;
        }

        @media only screen and (min-width: 2301px) and (max-width: 2500px) {
            max-width: 500px;
        }

        @media only screen and (min-width: 1901px) and (max-width: 2300px) {
            max-width: 450px;
        }

        @media only screen and (min-width: 1500px) and (max-width: 1900px) {
            max-width: 400px;
        }


        @media only screen and (max-width: 576px) {
            max-width: 280px;
        }


        h1{
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1.5rem;
            color: $YELLOW;
            font-family: $CURSIVE_H;
            text-align: center;

            @media only screen and (min-width: 2501px){
                font-size: 3.5rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) {
                font-size: 3.25rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 1901px) and (max-width: 2300px) {
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 1500px) and (max-width: 1900px) {
               font-size: 2.5rem;
            }

            @media only screen and (max-width: 576px) {
                font-size: 1.25rem;
            }
        }

        input, label{
            display: block;
        }
        label{
            // color: $BLACK_BG;
            color: grey;
            margin-bottom: 0.3rem;
            font-size: 1rem;

            @media only screen and (min-width: 2501px){
                font-size: 2rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) {
                font-size: 1.75rem;
            }

            @media only screen and (min-width: 1901px) and (max-width: 2300px) {
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1500px) and (max-width: 1900px) {
                font-size: 1.25rem;
             }

            @media only screen and (max-width: 576px) {
                font-size: 0.8rem;
            }
        }
        input{
            all: unset;
            max-width: 305px;
            width: 100%;
            margin-bottom: 1.25rem;
            font-size: 1rem;
            border: 2px solid $BLACK_BG;
            padding: 0.6rem 0.3rem;
            color: $BLACK_BG;
            background-color: $WHITE;

            @media only screen and (min-width: 2501px){
                max-width: 555px;
                font-size: 2rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) {
                max-width: 455px;
                font-size: 1.75rem;
            }

            @media only screen and (min-width: 1901px) and (max-width: 2300px) {
                max-width: 403px;
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1500px) and (max-width: 1900px) {
                max-width: 355px;
                font-size: 1.25rem;
             }

            @media only screen and (max-width: 576px) {
                max-width: 230px;
                font-size: 0.8rem;
            }
        }







        ._login_form_btn_LOADING{
            all: unset;
            cursor:no-drop;
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: gray;
            color: $WHITE;
            padding: 0.6rem;
            max-width: 300px;
            width: 100%;
            font-size: 1rem;
            text-align: center;
            transition: all 0.3s ease-in-out;

           

            @media only screen and (min-width: 2501px){
                max-width: 547px;
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) {
                max-width: 450px;
                font-size: 1.75rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 1901px) and (max-width: 2300px) {
                max-width: 395px;
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 1500px) and (max-width: 1900px) {
                max-width: 350px;
                font-size: 1.25rem;
             }

            @media only screen and (max-width: 576px) {
                max-width: 225px;
                font-size: 0.8rem;
            }
        }













        ._login_form_btn{
            all: unset;
            cursor: pointer;
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: $BLACK_1;
            color: $WHITE;
            padding: 0.6rem;
            max-width: 300px;
            width: 100%;
            font-size: 1rem;
            text-align: center;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: $BLACK;
            }

            @media only screen and (min-width: 2501px){
                max-width: 547px;
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 2301px) and (max-width: 2500px) {
                max-width: 450px;
                font-size: 1.75rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 1901px) and (max-width: 2300px) {
                max-width: 395px;
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            @media only screen and (min-width: 1500px) and (max-width: 1900px) {
                max-width: 350px;
                font-size: 1.25rem;
             }

            @media only screen and (max-width: 576px) {
                max-width: 225px;
                font-size: 0.8rem;
            }
        }

        ._login_form_btn_divider{
            margin: 0;
        }

        ._login_form_back_to_home{
            all: unset;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            font-size: 0.8rem;
            color: #0d6efd;
            margin-top: 1rem;
            text-decoration: underline;

            @media only screen and (min-width: 2501px){
                font-size: 1.75rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 1.25rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 1rem;
            }
        }
    }
}