@import "../styles/utils.module.scss";


.Wrapper{
    padding: 1rem;



    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    ._loading_message{
        margin: 0;
        font-size: 1rem;
        color: $BLACK;

        @media only screen and (min-width: 2501px){
            font-size: 2rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.75rem;
        }


        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.25rem;
        }
    }
}