@import "../styles/utils.module.scss";


.Wrapper{
    padding: 4rem 2rem;
    background-color: whitesmoke;
    min-height: 100vh;

    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }

    #_product_row_wrapper{
        margin-top: 1.25rem;
    }

    ._product_bread_crumbs{
        font-size: 1rem;
    }




    #_product_hide_on_SMALL_DEVICE{
        display: block;
        @media only screen and (max-width: 991px) { 
            display: none;
        }
    }
   






    // DISPLAYS
    ._product_you_may_like{
        background-color: $BLACK_BG;
        width: 100%;
        min-height: 500px;
        color: $WHITE;
        padding: 0.6rem 0;
        h2{
            margin: 0;
            font-size: 1.25rem;
            margin-bottom: 1.25rem;
            text-transform: capitalize;
            font-family: $CURSIVE_H;
            font-weight: bold;
            margin-left: 1rem;
        }

        ._product_you_may_like_box{
            margin-bottom: 1rem;
            padding: 0.3rem 1rem;
           
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: $BLACK_1;
            }

            ._product_title{
                margin: 0;
                font-size: 1rem;
                color: $GRAY;
            }

            ._product_you_may_like_SPAN{
                margin-right: 0.6rem;
                font-size: 0.8rem;
                color: grey;
            }
        }
    }

    // END







    ._product_display{
        img{
            display: block;
            width: 100%;
            min-height: 500px;
            object-fit: cover;
            object-position: center;
            margin-bottom: 1rem;
        }



        ._product_cart_n_wish{
            margin-bottom: 2rem;
            button{
                all: unset;
                cursor: pointer;
                max-width: 150px;
                width: 100%;
                text-align: center;
                background-color: $RED;
                border-radius: 5px;
                padding: 0.3rem 0.6rem;
                margin-right: 1.25rem;
                color: $WHITE;
                font-size: 0.9rem;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: $H_RED;
                }
              
                ._product_cart_n_wish_ICON{
                    font-size: 1.25rem;
                }
            }
            
        }


        // ._product_divider{
        //     display: block;
        //     margin: 2rem 0;

        //     @media only screen and (max-width: 991px) { 
        //         display: none;
        //     }
        // }

        h1{
            margin: 0;
            font-size: 2.5rem;
            font-family: $CURSIVE_H;
            font-weight: bolder;
            margin-top: 1.25rem;
            margin-bottom: 0.6rem;
        }

        ._product_display_price{
            margin: 0;
            font-size: 2rem;
            margin-bottom: 1.5rem;
            margin-top: 0.6rem;
            font-weight: 300;
            color: $BLACK_1;
        }


        ._product_desc{
            margin: 0;
            font-size: 1rem;
            max-width: 700px;
            width: 100%;
            margin-bottom: 1.25rem;
            color: $BLACK_1;
        }

        ._product_ingredient_h2{
            margin: 0;
            font-size: 1.25rem;
            font-weight: bolder;
            color: $BLACK_1;
            margin-bottom: 0.6rem;
        }

        ul{
            margin-bottom: 1.5rem;

            li{
                font-size: 1rem;
            }
        }


        ._product_icon{
            font-size: 1.5rem;
        }

        ._product_span{
            margin-right: 1.25rem;
            font-size: 1rem;
            color: $GOLD;
        }

        
    }

    
}