@import "../styles/utils.module.scss";


#_top_nav_offcanvas_search{
    z-index: 2000;
    background-color: whitesmoke;
    min-height: 500px;
    #_top_nav_offcanvas_wishlist_title{
        font-size: 1.25rem;
        font-family: $CURSIVE_H;
        color: $BLACK_BG;

        @media only screen and (min-width: 2501px){
            font-size: 2rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.75rem;
         }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.5rem;
        }
    }

    #_top_nav_offcanvas_search_wrapper{
        text-align: center;


        #_top_nav_offcanvas_search_RESULTS{
            margin: 0 auto;
            max-width: 900px;
            width: 100%;
            // background-color: red;
            margin-top: 1.25rem;
          

            #_top_nav_offcanvas_search_RESULTS_COLS{
                margin: 0 auto;
                max-width: 200px;
                width: 100%;
                background-color: $WHITE;
                  padding: 0.4rem;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                cursor: pointer;
                margin-bottom: 1rem;
                img{
                    width: 100%;
                    max-height: 100px;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    margin-bottom: 0.6rem;
                }

                h6{
                    margin: 0;
                    font-size: 1rem;
                    margin-bottom: 0.6rem;

                    @media only screen and (max-width: 425px) {
                        font-size: 0.8rem;
                     }
                }
            }
            
        }


        input{
            all: unset;
            max-width: 800px;
            width: 100%;
            padding: 0.1rem 1rem;
            text-align: left;
            border-bottom: 2px solid $BLACK;
            font-size: 2rem;
            color: $BLACK_BG;
            font-style: italic;
            &::placeholder{
                font-size: 2rem;
                color: darkgrey;
                font-style:italic;
                font-weight: 400;
            }
        }

        p{
            margin: 0;
            font-size: 0.9rem;
            color: grey;
            margin-top: 0.3rem;
        }
    }
}


#_top_nav_offcanvas{  
    z-index: 2000;
    background-color: whitesmoke;

    @media only screen and (min-width: 2501px){
        max-width: 800px;
        width: 100%;
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        max-width: 700px;
        width: 100%;
     }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
       max-width: 500px;
       width: 100%;
    }


// ==================================================

    #_top_nav_offcanvas_wishlist_boxes_ADD_TO_CART{
        margin-top: 1rem;
        button, input{
            all: unset;
        }
        button{
            cursor: pointer;
            max-width: 30px;
            width: 100%;
            text-align: center;
            background-color: $BLACK_BG;
            font-size: 1rem;
            padding: 0.3rem;
            color: $WHITE;
            border: 2px solid $BLACK_BG;
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: $BLACK;
                border: 2px solid $BLACK;
            }

            @media only screen and (min-width: 2501px){
                max-width: 80px; 
                font-size: 2rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                max-width: 60px; 
                font-size: 1.75rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1.1rem;
            }

            @media only screen and (max-width: 425px) { 
                font-size: 0.8rem;
            }

        }
        input{
            max-width: 60px;
            width: 100%;
            background-color: $WHITE;
            color: $BLACK_BG;
            font-size: 1rem;
            padding: 0.3rem;
            text-align: center;
            border: 1px solid $YELLOW;

            @media only screen and (min-width: 2501px){
                max-width: 100px; 
                font-size: 2rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                max-width: 100px; 
                font-size: 1.75rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1.1rem;
            }

            @media only screen and (max-width: 425px) { 
                max-width: 40px;
                font-size: 0.8rem;
            }
        }
    }

// ==================================================

    #_top_nav_offcanvas_wishlist_title{
        font-size: 1.25rem;
        font-family: $CURSIVE_H;
        color: $BLACK_BG;

        @media only screen and (min-width: 2501px){
            font-size: 2rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.75rem;
         }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.5rem;
        }
    }

    #_top_nav_offcanvas_wishlist_boxes{
        position: relative;
        padding: 0.6rem;
        background-color: $OLIVE;
        min-height: 150px;
        margin-bottom: 1.25rem;
    

        img{
            width: 100%;
            min-height: 150px;
            object-fit: cover;
            object-position: center;

            @media only screen and (min-width: 2501px){
                min-height: 250px;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                min-height: 200px;
             }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                min-height: 180px;
            }
        }

        #_top_nav_offcanvas_wishlist_boxes_title{
            margin: 0;
            font-size: 0.9rem;
            color: $WHITE;
            margin-bottom: 0.3rem;
            color: $YELLOW;

            @media only screen and (min-width: 2501px){
                font-size: 2rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.75rem;
             }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 1.25rem;
             }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
              font-size: 1.1rem;
            }

            @media only screen and (max-width: 425px) { 
                font-size: 0.8rem;
            }

        }

        span{
            margin-right: 1rem;
            color: $GRAY;
            font-size: 0.8rem;

            @media only screen and (min-width: 2501px){
                font-size: 1.6rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.25rem;
             }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 1.1rem;
             }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 0.9rem;
              }

            @media only screen and (max-width: 425px) { 
                font-size: 0.7rem;
            }
        }

        p{
            margin: 0;
            font-size: 0.8rem;
            max-width: 300px;
            width: 100%;
            color: $GRAY;
            margin-top: 0.6rem;

            @media only screen and (min-width: 2501px){
                max-width: 500px; 
                font-size: 1.6rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                max-width: 400px; 
                font-size: 1.25rem;
             }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 1.1rem;
             }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 0.9rem;
              }

            @media only screen and (max-width: 425px) { 
                font-size: 0.7rem;
            }
        }



        #_top_nav_offcanvas_wishlist_boxes_DELETE{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        
            #_top_nav_offcanvas_wishlist_boxes_DELETE_ICON{
                font-size: 1.5rem;
                color: $RED;

                @media only screen and (min-width: 2501px){
                    font-size: 3rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 2.5rem;
                 }


                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 2rem;
                 }
            }
        }

    }

}








.Wrapper{
    padding: 1rem;
    background-color: $BLACK_BG;
    color: $WHITE;

    width: 100vw;
    
    @media only screen and (max-width: 768px) {
        // padding:2rem 1rem; 
     }



     #_top_nav_col_show_1900px{
        @media only screen and (min-width: 1900px) { 
           margin: 0 auto;
        }
     }


     ._top_nav_col_hide{
         display: block;

         @media only screen and (min-width: 1900px) { 
            display: none;
         }

         @media only screen and (max-width: 991px) { 
            display: none;
         }
     }







    






     #_log_in_btn_hover{
         &:hover{
             text-decoration: underline;
         }
     }


     ._log_in_btn{
        margin: 0;
        font-size: 1rem; 
        color: $YELLOW;

        @media only screen and (min-width: 2501px){
            font-size: 2rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 1.75rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1.5rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.1rem;
        }

        // @media only screen and (max-width: 991px) {
        //     font-size: 0.9rem;
        // }
     }


     .Contact{
        margin: 0;
        font-size: 0.9rem; 
        color: $WHITE;
       

        @media only screen and (min-width: 2501px){
            font-size: 1.41rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 1.4rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1.25rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.1rem;
        }

        @media only screen and (max-width: 991px) {
            font-size: 0.8rem;
        }

    }

    .Contact_Icons{
        margin: 0;
        font-size: 1.5rem;
        color: $YELLOW;

        @media only screen and (min-width: 2501px){
            font-size: 3rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 2.5rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 2rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.75rem;
        }

    }
    .Contact_Icons_phone{
        margin: 0;
        font-size: 1.25rem;
        color: $YELLOW;


        @media only screen and (min-width: 2501px){
            font-size: 2.5rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 2rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1.75rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.5rem;
        }

    }

    .Cart_Badge{
        font-size: 0.7rem;
        color: $WHITE;
        border-radius: 50%;
        background-color:$RED !important;

        @media only screen and (min-width: 2501px){
            font-size: 1.4rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 1.25rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
           font-size: 0.8rem;
        }
    }

}