@import "../styles/utils.module.scss";



.Wrapper{
    padding: 1rem;
    background-color: $BLACK;
    color: $WHITE;
    
    @media only screen and (max-width: 768px) {
        // padding:2rem 1rem; 
     }


     ._top_nav_col_hide{
         display: block;
         @media only screen and (max-width: 767px) { 
            display: none;
         }
     }


     .Contact{
        margin: 0;
        font-size: 1rem; 
        color: $WHITE;
        font-size: 0.9rem;

        @media only screen and (min-width: 2501px){
            font-size: 1.41rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 1.4rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1.25rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.1rem;
        }

    }

    .Contact_Icons{
        margin: 0;
        font-size: 1.5rem;
        color: $YELLOW;

        @media only screen and (min-width: 2501px){
            font-size: 3rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 2.5rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 2rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.75rem;
        }

    }
    .Contact_Icons_phone{
        margin: 0;
        font-size: 1.25rem;
        color: $YELLOW;


        @media only screen and (min-width: 2501px){
            font-size: 2.5rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 2rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1.75rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.5rem;
        }

    }

    .Cart_Badge{
        font-size: 0.7rem;
        color: $WHITE;
        border-radius: 50%;
        background-color:$RED !important;

        @media only screen and (min-width: 2501px){
            font-size: 1.4rem;
         }

         @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 1.25rem;
        }

         @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1rem;
        }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
           font-size: 0.8rem;
        }
    }

}