$OLIVE: #373d20;
$GOLD: #717744;
$GRAY: #abac7f;
$WHITE: #fefefe;
$BLACK: #080808;
$YELLOW: #f0c808;
$RED: #dd1c1a;

// =============================

$CURSIVE_H: 'Merienda', cursive;
$CURSIVE_TEXT: 'Merienda', cursive;
$POPPINS: 'Poppins', sans-serif;
