@import "../styles/utils.module.scss";


.Wrapper{
    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8) ) ,
        url('/bgs/whyus.jpg') no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        // width: 100%;
        width: 100vw;
        min-height: 550px;
    padding: 4rem 2rem;
    background-color: $WHITE;

    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
        background-attachment: scroll;
    }

    h1{
        margin-bottom: 4rem;
        font-family: $CURSIVE_H;
        font-weight: bold;
        color: $WHITE;
        text-align: center;
        font-size: 3rem;
        text-transform: capitalize;


        @media only screen and (min-width: 2501px){
            font-size: 5rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 4.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 3.5rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
            font-size: 3.25rem;
        }


        // =====================

        @media only screen and (max-width: 768px) { 
            font-size: 2.5rem;
        }

        @media only screen and (max-width: 425px) { 
            margin-bottom: 2rem;
            font-size: 2rem;
        }

        @media only screen and (max-width: 375px) { 
            font-size: 1.75rem;
        }

        span{
            color: $YELLOW;
        }


    }



    ._why_us_card{
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        // background-color: red;
        text-align: center;

        ._why_us_card_icon{
            color: $YELLOW;
            font-size: 3.25rem;
            margin-bottom: 1rem;

            @media only screen and (min-width: 2501px){
                font-size: 5.25rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 4.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 3.75rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 3rem;
            }

            @media only screen and (max-width: 1200px) {
                font-size: 2.75rem;
            }

            @media only screen and (max-width: 576px) {
                font-size: 2rem;
            }

        }

        h2{
            margin: 0;
            font-family: $CURSIVE_H;
            font-weight: 700;
            color: $WHITE;
            font-size: 1.25rem;
            margin-bottom: 0.6rem;

            @media only screen and (min-width: 2501px){
                font-size: 2.1rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 2rem;
            }


            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 1.75rem;
            }


            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 1.4rem;
            }


            @media only screen and (max-width: 1200px) {
                font-size: 1rem;
            }

            @media only screen and (max-width: 576px) {
                font-size: 0.8rem;
            }
        }

      
    }

}